<%= form_tag("/login", method: "post") do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>

